.Input {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

.Label {
	font-weight: bold;
	display: block;
	margin-bottom: 8px;
}

.InputElement {
	outline: none;
	border: 2px solid #cccccc;
	background-color: white;
	font: inherit;
	padding: 6px 10px;
	display: block;
	box-sizing: border-box;
	width: 100%;
}

.InputElement:focus {
	border: 2px solid #cccccc;
	outline: none;
}

.Invalid {
	background-color: #ee6262ea;
	border: 2px solid #ff0000;
	color: white;
}

.Invalid:focus {
	border: 2px solid #ff0000;
}

.Invalid::placeholder {
	color: white;
}
